<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Rango says...</h1>

    <div>
      hey there partner! <br>
      <!--   <strong>{{ boldmessage }}</strong>  -->
    </div>
    <div>
      {% if cate %}
    <ul>
        {% for category in cate %}
            <!--  <li>{{ category.name }}</li>  -->
            <li>
            <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>

            <!-- for my understanding, url doesnot contain whitespace so we
                 have placed 'category.slug' rather than 'category.name' in url -->

            </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </div>

    <div>
      <a href="/rango/add_cate/">Add a New Category</a><br />

    </div>

    </div>
    <div>
      <a href="/rango/about/">About</a><br>
      <img src="{% static "images/virat.jpg" %}"alt="Picture" />
      <img src="{{ MEDIA_URL }}django.png" alt="">
    </div>

    </div>

  </body>
</html>
